@import "../fonts/uicons-regular-rounded/css/uicons-regular-rounded.css";
@import "../css/font-awesome.min.css";

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'shabnam-400';
    src: url("../fonts/shabnam-400/shabnam-400.eot"), url("../fonts/shabnam-400/shabnam-400.ttf"), url("../fonts/shabnam-400/shabnam-400.woff"), url("../fonts/shabnam-400/shabnam-400.woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'fontAwesome';
    src: url("../fonts/fontAwesome/fontawesome-webfont.svg"), url("../fonts/fontAwesome/fontawesome-webfont.ttf"), url("../fonts/fontAwesome/fontawesome.otf"), url("../fonts/fontAwesome/fontawesome-webfont.woff"), url("../fonts/fontAwesome/fontawesome-webfont.woff2"), url("../fonts/fontAwesome/fontawesome-webfont.eot");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'yekan';
    src: url("../fonts/Yekan/Yekan.svg"), url("../fonts/Yekan/Yekan.eot"), url("../fonts/Yekan/Yekan.woff"), url("../fonts/Yekan/Yekan.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
    font-weight: bolder !important;
}

a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none !important;
}

li {
    list-style: none;
}

.top-menu h2 {
    float: left;
    padding: 10px 0;
    font-weight: 700 !important;
}

.nav {
    display: inline !important;
    text-align: right;
}

.nav ul li {
    display: inline;
    padding: 0 15px;
}

.nav ul li a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.5s ease-in-out;
}

.nav ul li a:hover {
    color: #ffffff;
}

.header {
    background-color: #545b62;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center center;
}

.top-menu {
    padding: 25px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.btn {
    padding: 10px 20px;
    border: 0;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: Raleway;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-gray {
    background-color: #ffffff;
    color: #444 !important;
}

.btn-blue {
    background-color: #3cadd4;
    color: #ffffff !important;
}

.btn-dark {
    background-color: #1d2124;
    color: #ffffff !important;
}

.btn-big {
    font-size: 22px;
    padding: 17px 35px;
}

.banner-content {
    color: #ffffff;
    text-align: center;
    padding: 130px 0;
}

.banner-content h2 {
    font-size: 60px;
    line-height: 120px;
}

.banner-content p {
    font-size: 22px;
    line-height: 120px;
}

/*main section design*/
.services {
    background-color: #ebebeb;
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    border-top: 1px solid rgba(144, 144, 144, 0.25);
    padding: 100px 0;
    text-align: center;
}

.services-header {
    text-align: center;
    margin-bottom: 50px;
}

.services-header h2 {
    color: #474747;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700 !important;
}

.services-header p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #858585;
}

.icon:before {
    font-family: FontAwesome;
    font-style: normal;
}

.color-blue {
    background-color: #3cadd4;
    color: #ffffff;
}

.color-green {
    background-color: #add43c;
    color: #ffffff;
}

.color-red {
    background-color: #d43c61;
    color: #ffffff;
}

.big {
    font-size: 50px;
    padding: 30px 40px;
}

.rounded {
    border-radius: 100%;
}

.box {
    background-color: #ffffff;
    border: 1px solid rgba(144, 144, 144, 0.25);
    border-radius: 5px;
    margin: 0 10px;
    padding: 70px 30px;
    width: calc(calc(100% / 3 - 20px));
}

.services-content > * {
    float: left;
}

.services-content {
    width: 90%;
    margin: 0 auto;
}

.services-content:after,
.services-content:before {
    content: '';
    display: block;
    clear: both;
}

.box h4 {
    color: #858585;
    font-size: 26px;
    margin: 35px 0;
    font-weight: 700 !important;

}

.box p {
    color: #000000;
    font-size: 16px;
    margin: 35px 0;
    font-weight: 600 !important;
    line-height: 25px;
}

@media only screen and (max-width: 835px) {
    .box {
        width: 100%;
        margin: 20px 0;
    }
}

/*--------------------------------------------------*/
.about {
    text-align: center;
    padding: 70px 0;
}

.about-header h2 {
    color: #474747;
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 700 !important;
}

.about-header p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #858585;
}

.about-content {
    border-top: 1px solid rgba(144, 144, 144, 0.25);
    border-bottom: 1px solid rgba(144, 144, 144, 0.25);
    margin: 60px auto;
    width: 80%;
    padding: 60px 0;
}

.about-content > * {
    float: left;
    padding: 10px;
}

.about-content:before,
.about-content:after {
    content: '';
    display: block;
    clear: both;
}

.profile {
    width: 25%;
}

.about-content h4 {
    margin: 20px 0;
}

.about-content p {
    line-height: 25px;
    margin-bottom: 25px;

}

@media screen and (max-width: 600px) {
    .about-content .profile {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 420px) {
    .about-content .profile {
        width: 100%;
        border: 1px solid rgba(144, 144, 144, 0.25);
        border-radius: 5px;
        margin: 10px 0;
    }
}

.about-footer {
    margin: 40px 20px;
    width: 70%;
    margin: 0 auto;
}


.about-footer p {
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 40px
}

/*--------------------------------------------------*/

/*main section design*/

/*-------------------contact us form-----------------------*/
.contact {
    background-color: #3cadd4;
    color: #ffffff;
    border-top: 1px solid rgba(1444, 144, 144, 0.25);
    padding: 60px;
    text-align: center;
}

.contact h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 25px;
}

.contact-content {
    text-align: center;
}

input[type=text],
input[type=email] {
    background-color: #ffffff;
    color: #545b62;
    border: 0;
    border-radius: 4px;
    padding: 10px 15px;
    width: 25%;
    margin-bottom: 30px;
}

textarea {
    background-color: #ffffff;
    color: #545b62;
    border: 0;
    padding: 15px 30px;
    width: 50%;
    height: 200px;
    border-radius: 4px;
}

.contact-content button {
    margin-top: 20px;
}

::placeholder {
    color: #858585 !important;
    font-size: 15px;
    font-family: Raleway;
}

@media screen and (max-width: 730px) {
    .contact-content input,
    textarea {
        width: 100%;
    }
}

/*--------------------footer---------------------*/
.footer {
    background-color: #000000;
    color: #fff3cd !important;
    text-align: center;
    padding: 80px 0;
}

.copyright li{
    color: #858585;
    font-weight: 700 !important;
    display: inline;
    padding: 0 15px;
    font-size: 15px;
}


.copyright a{
    color: #858585;
}