@import "../fonts/uicons-regular-rounded/css/uicons-regular-rounded.css";
@import "../css/font-awesome.min.css";

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'shabnam-400';
    src: url("../fonts/shabnam-400/shabnam-400.eot"), url("../fonts/shabnam-400/shabnam-400.ttf"), url("../fonts/shabnam-400/shabnam-400.woff"), url("../fonts/shabnam-400/shabnam-400.woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'fontAwesome';
    src: url("../fonts/fontAwesome/fontawesome-webfont.svg"), url("../fonts/fontAwesome/fontawesome-webfont.ttf"), url("../fonts/fontAwesome/fontawesome.otf"), url("../fonts/fontAwesome/fontawesome-webfont.woff"), url("../fonts/fontAwesome/fontawesome-webfont.woff2"), url("../fonts/fontAwesome/fontawesome-webfont.eot");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'yekan';
    src: url("../fonts/Yekan/Yekan.svg"), url("../fonts/Yekan/Yekan.eot"), url("../fonts/Yekan/Yekan.woff"), url("../fonts/Yekan/Yekan.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
    font-weight: bolder !important;
}

a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none !important;
}

li {
    list-style: none;
}

.top-menu h2 {
    float: left;
    padding: 10px 0;
}

.nav {
    display: inline !important;
    text-align: right;
}

.nav ul li {
    display: inline;
    padding: 0 15px;
}

.nav ul li a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.5s ease-in-out;
}

.nav ul li a:hover {
    color: #ffffff;
}

.header {
    background-color: #545b62;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center center;
}

.top-menu {
    padding: 25px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.btn {
    padding: 10px 20px;
    border: 0;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: Raleway;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-gray {
    background-color: #ffffff;
    color: #444 !important;
}

.btn-blue {
    background-color: #3cadd4;
    color: #ffffff !important;
}

.btn-dark {
    background-color: #1d2124;
    color: #ffffff !important;
}

.btn-big {
    font-size: 22px;
    padding: 17px 35px;
}

.banner-content {
    color: #ffffff;
    text-align: center;
    padding: 130px 0;
}

.banner-content h2 {
    font-size: 60px;
    line-height: 120px;
}

.banner-content p {
    font-size: 22px;
    line-height: 120px;
}